<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <style>
        .container{
            width: 300px;
            height: 300px;
            background: pink;
            text-align: center;
        }
    </style>
</head>
<body>
        <div class="box">
            <input type="number" v-model="w">
            <input type="number" v-model="h">
            
            <div class="container" v-bind:style="{width:w+'px',height:h+'px'}">苏宝宝</div>
        </div>
</body>
<script>
        new Vue({
            el:".box",
            data:{
                w:300,
                h:300
            }
        })
</script>
</html>
